


@media (max-width:1686px){
    html{
        font-size: 52%
 
    }


    .home-footer{
        margin-top:0;
        height: 220px;
       
    }

    .registration-form{   
        max-width: 550px;
         height: auto;
         
     
     }

     .form-description{
        width: 495px;
        height: 76px;
        
    
    }
    
    .form-messenger{
      
        width: 495px;
        height: auto;
        
    
    }
    
    .form-button{
       
        width: 495px;
        height: 77px;
     
        
    }

     
     .registration-base{
        width: auto;
        height: auto;
        margin-left: 0;
    }

    


}


@media (max-width:1600px){
    .services-descriptions{
        max-width: 1500px;
        display: flex;
        
    }

    h3{
        font-size: 2.8rem; 
        margin-bottom: 30px;
        
     }
     
    .services-descriptions p{
         font-size: 2.5rem;
         padding: 40px 10px ;
         margin-bottom: 0;
    }

    .img-services{
        min-width: 400px;
    }

 


    .differential-columns{
        min-width: 350px;
    }
        


}

@media (max-width:1340px){
    .options{
        font-size: 1.8rem;
    }

}


@media (max-width:1024px){
    
    html{
        font-size: 53%;
    }

    /* menu mobile */

    #btn-mobile{
        background-color: transparent;
        border: none;
        display: flex;
        cursor: pointer;
        padding: 10px 5px;
        z-index: 99999;
  
    }

    #hamburguer{
        width: 50px;
        border-top: 4px solid #fff;
       
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background: #fff;
        margin-top: 10px;
       
    }

    .header{
        display: block;
        width: 100%;
    }

    .menu-options{
        
        position:absolute;
        width: 250px;
        max-width: 250px;
        top:112px;
        left: 0;
        background:rgba(107, 107, 107, 0.774);
        display: block;
        border-bottom-right-radius: 25px;
        text-align: center;
        z-index: 9999;
        line-height: 70px;
        height: 0;
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    .options{
        display: block;
        margin-left: 0;
        font-weight: 400;
         
    }

    .options:hover{
        font-weight: bold;
        border-bottom-right-radius: 25px;
        background-color:rgba(112, 112, 112, 0.932);    
        color:#1CD4E9;
        transition: .3s ease all;
    }


    hr{
        display: block;
        width: 200px;
        margin: auto;
     
    }
    
    .options-mobile{
        display: block;
        font-weight: 400;
       
         
    }

    .options-mobile:hover{
        font-weight: bold;
        border-bottom-right-radius: 25px;
        background-color:rgba(112, 112, 112, 0.932);    
        color:#1CD4E9;
        transition: .3s ease all;
    }

    .header-container{
        flex-direction: row-reverse;
        
    }

    #nav.active .menu-options{
        height: 500px;
        max-height: 500px;
        visibility: visible;
        
    }

   



    
    
    body{
        background-image: none;
    }


    .section-home-container{
        background-image: url(imagens/mobile/s1\ mobile.png);
       
        
    }
    

    .home-tittle{
        max-width: 100%;
        font-size: 5.5rem;
        text-align: center;
        line-height: 100px;
        margin-top: 200px;
        height: 300px;
       
    }

    .home-footer{
        max-width: 75%;
        margin: auto;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .description-footer{
      display: none;
     
    }
    .description-footer-mobile{
        display: block;
        color: #ffff;
        font-size: 2.0rem;
        line-height: 40px;
        flex-wrap: wrap;
        text-align: center;
    }
    

    .main-container{
        height: 480vh;
        padding-top: 0;
     
       
    }

    .about-container{
        height: 95vh;
        max-width: 100%;
        margin: auto;
      
      
        
    }
   
        
    .about-description-container{
        width: 650px;
        height: 620px;
        margin: auto;

    }

    .about-description{
        display: none;
    
    
    }

    .about-description-center{
        display: none;
   
    }
    .about-description-mobile{
        display: block;
        font-size: 2.0rem;
        font-weight: normal;
        color: #000;
        margin-bottom: 25px;
        line-height: 30px;
        text-align: left;
    
    }

    .about-description-center-mobile{
        display: block;
        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 30px;
        text-align: left;
    }


    .services-container{
        
        width: 90%;
        height: 190vh;
        margin: auto;

    }


    .services{
        background-image: url(imagens/mobile/s3\ ft1.png);
        width:500px;
        height: 450px;
    }

    .digital-media{
        background-image: url(imagens/mobile/s3\ ft2.png); 
        width:500px;
        height: 450px;
       
    }
    .technological-implementations{
        background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url(imagens/mobile/s3\ ft3.png);
        width:500px;
        height: 430px;
        background-position: center
      
    }

    .services-descriptions{
        max-width: 750px;
        height: 1500px;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    h2{ 
        margin-bottom: 100px;
        margin-top: 50px;
    }

    h3{
        margin-bottom: 20px;
    }

    .img-services{
        background-size: 800px 800px;
        margin-bottom: 50px;
        border-radius: 60px;
        
    
    }

    .services-descriptions p{
        font-size: 2.5rem;
        font-weight: 300 ;  
        padding: 15px ;    
    }


    .differential-container{
        margin: auto;
        max-width: 750px;
        height: 1750px;
    
    }

    .differential-column-container{
        align-items: center;
        margin: auto;
        width: 500px;
        height: 1500px;
        flex-direction: column;
    
    }

    .differential-columns{ 
        text-align: center;
        height: 750px;
        border-radius: 60px;
        padding: 80px 40px;

       
        
    }

    .differential1{
        background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url(imagens/mobile/s4\ ft1.png);
    
        
    }

    .differential2{
        background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url(imagens/mobile/s4\ ft2.png);
      
    }
    .differential3{
        background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url(imagens/mobile/s4\ ft3.png);
    }

    .differential-img{
        width: 500px;
        background-repeat: no-repeat;
        background-position:cover;
        background-position: center;
        background-size: 600px 600px;
        margin-bottom: 50px;
    }


    .registration-container{
        height: auto;
        padding-top:40px;
           
    }

    .registration-description-header{
        height: 240px;
    }

    
    .registration-description-container{
        height: auto;
        flex-direction: column;
        align-items: center;
          
    }

    .registration-base{
        width: 572px;
        height: 600px;
        margin: auto;
    }

    .registration-description{
        display: none;
    }

    .registration-description-mobile{
        display: block;
        width: 600px;
        height: 300px;
        color: #fff;
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }
    .registration-description-text1-mobile{
        color: #efe60b;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .registration-description-text2-mobile{
        color: #1CD4E9;
    }

    .registration-form{   
       width: 1024px;
        height: 760px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
    
    }

    form{
        display: contents;
    }

    .form-messenger{

    margin-bottom: 50px;
    
    
}

    .form-button{
        height: 97px;
        font-size: 35px;
        
    }

   


}   

